.cards {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.contadorItemDetail {
    margin: 20px 0px;
}
.contador {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contador p {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
    font-size: 20px;
}
.contador button {
    align-items: center;
    padding: 1px 7px 1px 7px;
    font-size: 18px;
}
.LinkCard {
    text-decoration: none;
    color: black;
}
.LinkCard:hover {
    outline: none;
    text-decoration: none;
    color: black;
}
.Card:hover {
    transform: scale(1.03, 1.03);
}
