table {
    width: 100%;
    text-align: center;
}
.td_text {
    font-size: 22px;
}
.CartTotal {
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
    margin: 0px 20px 0px 0px;
    font-size: 24px;
    padding: 5px;
}
.CartBtn {
    text-align: end;
}
.btnCart {
    margin: 20px 5px 0px 5px;
    padding: 6px;
    font-size: 14px;
}
.btnBuy {
    padding: 8px;
    font-size: 16px;
    margin: 20px 15px 0px 15px;
}
.margin {
    margin-bottom: 60px;
}
.containerOrder {
    width: 100%;
    text-align: center;
    margin: 60px 0px 60px 0px;
}
.containerOrder p {
    font-size: 18px;
}