.menu {
    justify-content: center !important;
}
.menuMargin {
    margin-bottom: 100px;
    border-bottom: 1px solid grey;
    box-shadow: 0.3px 0.3px 6px rgba(0, 0, 0, 0.5);
}
.menuMargin :hover{
    text-decoration: none;
}
.menu-item {
    text-align: end;
    padding: 8px 16px 8px 16px !important;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    color: black;
}
.nav-link {
    color: black !important;
}
.fa-shopping-cart {
    font-size: 25px;
}