.menu {
    justify-content: center !important;
    font-size: 18px;
}
.menuMargin {
    margin-bottom: 100px;
}
.menuMargin :hover{
    text-decoration: none;
}
.navbar-collapse{
    justify-content: space-evenly !important;
    text-align: center;
}
.menu-item {
    text-align: end;
    padding: 8px 16px 8px 16px !important;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    color: black;
}
.nav-link {
    color: black !important;
}
.fa-shopping-cart {
    font-size: 25px;
}
.dropdown-menu{
    background-color: #bfbfbf !important;
    border-radius: 0px !important;
    border-color: #dbdbdb #535353 #535353 #dbdbdb !important;
    border-width: 2px !important;
}
.dropdown-item{
    font-weight: 500 !important;
}
.dropdown-item:hover {
    background-color: grey !important;
}
