table {
    width: 100%;
    text-align: center;
}
.td_text {
    font-size: 22px;
}
.CartTotal {
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
    margin: 0px 20px 0px 0px;
    font-size: 24px;
    padding: 5px;
}
.CartBtn {
    text-align: end;
}
.CartBtn button {
    margin: 0px 15px 0px 15px;
}
.margin {
    margin-bottom: 60px;
}